# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
env/

# Ignore output files and build apps
output/
dist/
build/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore local configuration files
*.local

# Ignore spec app
*.spec